## Let's start

### string, float (real numbers),complex, integers -> use type () to determine the type
### can use '' or " " for string  / can use """ """ -> can write on the next line  
### practice to make a table

In [2]:
type ('Hello')

str

In [3]:
type ("6")

str

In [ ]:
type (7.5)

float

In [7]:
type (1+1j)  #j is defined as the imaginary number

complex

In [12]:
print ("""Hello
Charlotte""")

Hello
Charlotte

# Variables

### always u strong names
### case sensitives -> a doesn't overwrite A
### always explain your code

In [13]:
a=5

In [14]:
a

5

In [15]:
type (a)

int

In [16]:
A = "case sensitive"

In [ ]:
int_var = 4 # This is an integer

# Operations

### be aware of precision errors -> make numbers rounded
### modulo = remainer like 10%3=1
### floor division // -> always rounds down to the whole integer
### concatenate

In [19]:
3+122

125

In [20]:
8-2

6

In [21]:
2*3

6

In [22]:
6*3

18

In [23]:
10%3

1

In [26]:
11//3

3

In [28]:
"I am " + str(25) + " years old."

'I am 25 years old.'

In [29]:
a=int("11")

11

In [34]:
type (a)

int

In [40]:
" I am % years old"

' I am %d years old'

# Assignment operation

# if I run a equation again ->

In [ ]:
my_var = 7

In [32]:
my_var = my_var +1

In [33]:
my_var

8

In [43]:
my_var += 1

In [44]:
my_var

64

In [45]:
my_var *= 7

In [46]:
my_var

448

In [47]:
a=3
b=2

print(a)
print(b)

3
2

In [48]:
my_var **=2 # it stores the value in the left operator

In [49]:
my_var

200704

# Comparison operator

### true, false = boolean, <,>,==
### strings-> the letters will be compared ord () based on Unicode

In [50]:
a = 10
b = 12 

b > a

True

In [51]:
type (True)

bool

In [52]:
b<a

False

In [53]:
a==b

False

In [54]:
"Jordan"> "Lebron James"

False

In [55]:
ord("J")

74

In [56]:
ord("L")

76

# Identity operator

# integer caching -> between -5 and 356

In [59]:
a = 3.1
b = 3.1

a==b

True

In [60]:
a is b "if I want to check if its actually the same

False

In [61]:
id(a)

2222508961648

In [62]:
id(b)

2222509474544

# Logical operator

In [64]:
a = 4
b = 4
c = 7.1
d = 8.2

a==b and d>c (True and True) -> True

True

In [65]:
True and False

False

In [66]:
True or False

True

In [67]:
True and not False #not False is True

True

In [68]:
False or False

False

# Conditional

# cooperating is a social dilemma
# We cooperate for certain outcomes: heartwarming (emotional gains), Trust, Individual payoff

In [72]:
cost = 1                  #individual cost
benefit = 3               # social benefit
kappa = 0.5               # degree of morality

if kappa*benefit >= cost*(1-kappa):
    print("Edoardo is cooperating")

Edoardo is cooperating

In [74]:
kappa=0

if kappa*benefit >= cost*(1-kappa):
    print("Edoardo is cooperating.")
else: 
    print ("Edoardo is not cooperating.")

Edoardo is not cooperating.

In [77]:
kappa_1 = 0.2
kappa_2 = 0

if kappa_1*benefit >= cost*(1-kappa) and kappa_2*benefit >= cost*(1-kappa_2): #when copy and paste code then check the variable names!
    print ("Ed. and Quentin are cooperating")
elif kappa_1*benefit < cost*(1-kappa) and kappa_2*benefit < cost*(1-kappa_2):
    print ("Nobody cooperates.")
else: 
    print("Only 1 cooperates")

Nobody cooperates.

# Collection of Elements

##List versus Tuple:

## List

In [78]:
my_list = [2,3.5, "cat"] # use brackets

In [80]:
my_list

[2, 3.5, 'cat']

In [81]:
my_list_2 = ["dog", 6.2]

In [82]:
my_list + my_list_2

[2, 3.5, 'cat', 'dog', 6.2]

In [83]:
my_list*4

[2, 3.5, 'cat', 2, 3.5, 'cat', 2, 3.5, 'cat', 2, 3.5, 'cat']

## Tuples

In [84]:
my_tuple = (4,8.9, "bird") # always use parentheses for tuples

In [85]:
my_tuple_2 = ("hello", 1)

In [86]:
my_tuple + my_tuple_2

(4, 8.9, 'bird', 'hello', 1)

## Conversion

In [88]:
my_list = [2,3.5, "cat"]
tuple(my_list) # can do the same conversion from tuple to list

(2, 3.5, 'cat')

## Indexing

In [89]:
my_list = [2,3.5, "cat"]
my_list[1] # Python starts with 0!

3.5

In [90]:
my_list = [0,1,2,3,4,5,6,7,8,9,10]
my_list[0:5] #colon -> it includes the left one after not the right one

[0, 1, 2, 3, 4]

In [93]:
my_list [6:11]

[6, 7, 8, 9, 10]

In [92]:
my_list[-1] #-1 is the last element

10

In [94]:
my_tuple = (0,1,2,3,4,5,6,7,8,9,10)

In [95]:
my_tuple[3:7]

(3, 4, 5, 6)

In [97]:
my_tuple[1::3] # starts at the first element and goes in steps by 3

(1, 4, 7, 10)

# Mutability

In [101]:
my_list = [0,1,2,3,4] #List can be changed = mutable - if I need to change my data, use lists
my_tuple = (0,1,2,3,4) #Tuples are immutable, just like variable -> if I dont need to change data use that since it reduces errors

my_list[1]=0

In [102]:
my_list

[0, 0, 2, 3, 4]

In [104]:
my_list = [0,1,2,3,4]
id(my_list)

2222509539392

In [106]:
my_list[2]="2"
id(my_list)

2222509539392

In [110]:
my_tuple = (0,1,2,3)
my_list = list(my_tuple) #if I need to change my tuple -> transform it to a list
my_list[3] = "three"

my_list

[0, 1, 2, 'three']

In [111]:
my_tuple = tuple(my_list)

In [112]:
my_tuple

(0, 1, 2, 'three')

# Methods

In [114]:
my_list = [0,1,2,3,4,5]
my_list_copied = my_list
print(my_list_copied)

[0, 1, 2, 3, 4, 5]

In [115]:
my_list_copied[2]="two"
print(my_list_copied)

[0, 1, 'two', 3, 4, 5]

In [119]:
my_list = [0,1,2,3,4,5]
my_list_copy = my_list.copy() #I apply a function to a list, always add it to a variable

In [120]:
print(my_list_copy)

[0, 1, 2, 3, 4, 5]

In [123]:
my_list_copy[1]="one"
print(my_list_copy)
print(my_list)

[0, 'one', 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5]

#Examples with methods. We first try the function `append´

In [124]:
my_list = [0,1,2,3,4]

In [125]:
my_list.append(5)

In [126]:
my_list

[0, 1, 2, 3, 4, 5]

In [127]:
my_list.clear() # it clears the content of the list but not the whole list
my_list

[]

In [130]:
my_list = [1,2,3,4,5,6] #removes the digit that I put in the parentheses
my_list.remove(3)
my_list

[0, 1, 2, 4, 5, 6]

In [131]:
my_list = [1,2,3,4,5,6] #removes the number that is on a certain position
my_list.pop(3)
my_list

[1, 2, 3, 5, 6]

# Conditionals